@layer theme, base, mui, components, utilities;
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #111827;
  --heading1-color: #6b7280;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans);
  --font-mono: var(--font-source-code-pro);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --heading1-color: #9CA3AF;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans);
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
    color: var(--heading1-color);
  }
  h2 {
    @apply text-xl font-bold mt-4 mb-2;
    color: var(--foreground);
  }
  h3 {
    @apply text-lg font-semibold mt-3 mb-1;
  }
  ul,
  ol {
    @apply list-disc list-inside pl-5 mb-3;
  }
  pre {
    @apply bg-gray-100 rounded-md p-5 mb-3 overflow-x-auto text-sm;
  }
  code {
    @apply bg-gray-200 rounded px-1 py-0.5 text-sm font-mono;
  }
}

@layer utilities {
  .scrollbar-auto {
    scrollbar-width: thin;
    scrollbar-color: rgba(100, 100, 100, 0) transparent;
    padding: 1.5rem;
  }

  .scrollbar-auto:hover {
    scrollbar-color: rgba(100, 100, 100, 0.3) transparent;
  }

  .scrollbar-auto::-webkit-scrollbar {
    width: 6px;
  }
  .scrollbar-auto::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-auto::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0);
    border-radius: 9999px;
    transition: background-color 0.3s;
  }

  .scrollbar-auto:hover::-webkit-scrollbar-thumb,
  .scrollbar-auto:active::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.3);
  }
}
