apiVersion: apps/v1
kind: Deployment
metadata:
  name: matching-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: matching-service
  template:
    metadata:
      labels:
        app: matching-service
    spec:
      imagePullSecrets:
        - name: dockerhub-secret
      containers:
        - name: matching-service
          image: peerprep4/peerprep4:matching_service
          imagePullPolicy: Always
          ports:
            - containerPort: 3007
          resources:
            requests:
              cpu: "200m"
          env:
            - name: RABBITMQ_URL
              valueFrom:
                secretKeyRef:
                  name: ms-secret
                  key: RABBITMQ_URL
            - name: REDIS_URL
              valueFrom:
                secretKeyRef:
                  name: ms-secret
                  key: REDIS_URL
            - name: QUESTION_SERVICE_URL
              valueFrom:
                secretKeyRef:
                  name: ms-secret
                  key: QUESTION_SERVICE_URL
            - name: PORT
              valueFrom:
                secretKeyRef:
                  name: ms-secret
                  key: PORT

          readinessProbe:
            httpGet:
              path: /healthz
              port: 3007
          livenessProbe:
            httpGet:
              path: /healthz
              port: 3007
