name: Backend
run-name: Backend CI

on:
  workflow_call:

defaults:
  run:
    working-directory: backend

jobs:
  
  lint-collab:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
      - run: npm i
      - run: npm run lint -- services/collaboration_service/src

  lint-user:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
      - run: npm i
      - run: npm run lint -- services/user_service/src

  lint-question:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
      - run: npm i
      - run: npm run lint -- services/question_service/src

  lint-matching:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
      - run: npm i
      - run: npm run lint -- services/matching_service/src


  build-collab:
    # needs: [lint-collab]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
      - run: cd shared/messaging && npm i
      - run: cd shared/redis && npm i
      - run: cd services/collaboration_service && npm i && npm run build

  build-user:
    # needs: [lint-user]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
      - run: cd services/user_service && npm i && npm run build

  build-question:
    # needs: [lint-question]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
      - run: cd services/question_service && npm i && npm run build

  build-matching:
    # needs: [lint-matching]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
      - run: cd shared/messaging && npm i
      - run: cd shared/redis && npm i
      - run: cd services/matching_service && npm i && npm run build

  push-collab:
    # needs: [build-collab]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/services/collaboration_service/Dockerfile
          push: true
          tags: peerprep4/peerprep4:collaboration_service
          platforms: linux/amd64,linux/arm64

  push-user:
    # needs: [build-user]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: docker/build-push-action@v6
        with:
          context: ./backend/services/user_service
          file: ./backend/services/user_service/Dockerfile
          push: true
          tags: peerprep4/peerprep4:user_service
          platforms: linux/amd64,linux/arm64

  push-question:
    # needs: [build-question]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: docker/build-push-action@v6
        with:
          context: ./backend/services/question_service
          file: ./backend/services/question_service/Dockerfile
          push: true
          tags: peerprep4/peerprep4:question_service
          platforms: linux/amd64,linux/arm64

  push-matching:
    # needs: [build-matching]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/services/matching_service/Dockerfile
          push: true
          tags: peerprep4/peerprep4:matching_service
          platforms: linux/amd64,linux/arm64
